
<form class="form-horizontal" action="/getTimezoneTime" method="post">
<fieldset>
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
       <label  class="col-lg-2 control-label">Select Server Zone :</label>
	  <% if(typeof zonelist !='undefined'){ %>
	   <input type="hidden"  class="form-control" name="zonelist" value="<%=zonelist %>" >
	   <%}%>
         <select class="form-control"  name="currentZone">
		      <option value="">Select Zone</option>
		          <%
		             for (var j = 0; j < zonelist.length; j++){
		                  %><option value="<%= zonelist[j] %>"><%= zonelist[j] %><%
		             }
		         %>
		    </select>
      </div>
   </div>
    <div class="form-group">
       <div class="col-lg-10 col-lg-offset-2">
       <label  class="col-lg-2 control-label">Add Server Time :</label>
       <input type="text"  class="form-control" name="servertime" placeholder="yyyy-mm-dd HH:MM:SS"  >
        </div>
   </div>
   
     <div class="form-group">
     <div class="col-lg-10 col-lg-offset-2">
      <button type="submit" class="btn btn-success">Submit</button>
     </div>
      </div>

 </fieldset>
 </form>